@import url("https://fonts.googleapis.com/css2?family=Rubik");
@import url("https://fonts.googleapis.com/css2?family=Assistant");

body
{
    background: var(--Primary, #863277);
}

/* h1 gets a background Rose Quartz */
.header-text
{
    background-color: #b6a5b5;
}

nav > ul a
{
    text-decoration: none;
    font-family: "Assistant";
    color: white;
}

.grid-container-nav
{
    border: 10px double black;
}



.navigation
{
    background-color: #b6a5b5;
    list-style: none;
}

.navigation > ul a
{
    background-color: #FF8200;
    text-decoration: none;
    font-family: "Assistant";
    color: black;
}

a.background:link
{
    background-color: #8FD3F8;
    color: black;
}

.page-text
{
    background-color: #b6a5b5;
    margin-bottom: 1rem;
}

.page-text h1
{
    font-family: "Rubik";
    letter-spacing: normal;
}

.page-text p
{
    font-family: "Assistant";
    letter-spacing: normal;
    line-height: 20px;
    text-indent: 1em;
    word-spacing: 0.1rem;
}

.logo 
{
    width: 89.26px;
    height: 99.28;
}

#BenS-logo
{
    margin-top: 1rem;
    width: 285px;
    height: 117px;
}

#ellermeyer-logo
{
    width: 10rem;
    height: 10rem;
}

#bierman-logo
{
    width: 341px;
    height: 79px;
}

#mobiel-bv-logo
{
    width: 10rem;
    height: 10rem;
}
.page-text, h3
{
    font-family: "Rubik";
}

#uppercase 
{
    text-transform: uppercase;
}

form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b6a5b5;
}

form > .submit
{
    background-color: #FF8200;
    border-style: double;
    border-width: 0.5px;
    border-color: #FF8200;
}

.submit:hover, .navigation > ul a:hover
{
    background-color: #ff6800;
    transition: ease-out;
    transition-duration: 300ms;
}

.contact
{
    text-decoration: none;
    list-style: none;
    color: #8FD3F8;
    font-family: "Assistant";
}

#grid-container
{
    grid-template-columns: auto, auto, auto;
    grid-gap: 0.5rem;
}

section
{
    display: grid;
}

#grid-container
{
    grid-template-columns: auto, auto, auto;
    grid-gap: 0.5rem;
}

#grid-container-mobiel
{
    grid-template-columns: auto, auto, auto;
    grid-gap: 0.5rem;
}
#article1, #article2, #article3
{
    grid-row: 1 / 3;
}

#mobiel-article1, #mobiel-article2, #mobiel-article3
{
    grid-row: 1 / 3;
}

.BenS-content-images
{
    width: 10rem;
    height: 10rem;
}

.ellermeyer-content-images
{
    width: 10rem;
    height: 10rem;
}

.bierman-content-images
{
    width: 10rem;
    height: 10rem;
}

.mobiel-content-images
{
    width: 10rem;
    height: 10rem;
}
